<div class="header">
    <div class="container">
        <div class="image">
            <img src="assets/img/homes.png" alt="">
        </div>
        <div class="slogan">
            <div class="contenido">
                <h2>Somos <span class="create">Creadores</span></h2>
                <p>Descubre los mejores productos elaborados por los estudiantes del instituto superior YAVIRAC.</p>
                <a href="#" class="btn">Comenzar</a>
            </div>
        </div>
    </div>
    <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 300">
        <path fill="#fff" fill-opacity="1"
            d="M0,192L60,181.3C120,171,240,149,360,133.3C480,117,600,107,720,106.7C840,107,960,117,1080,122.7C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
        </path>
    </svg>
</div>

<article class="page-content container">
    <div class="popular-post-header">
        <div class="card h-100 p-post-inner">
            <div class="popular-post-inner">
                <div class="section-popular-content">
                    <h3>Los post mas populares</h3>
                    <p>¡Únete y comienza a ver lo mejor de JaviJobs!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row popular-post-body mt-5">
        <div class="col-sm-6">
            <div class="card h-100 p-post-inner">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                  </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-12 first">
                    <div class="card h-100 p-post-inner">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">Last updated 3 mins ago</small>
                          </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card h-100 p-post-inner">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">Last updated 3 mins ago</small>
                          </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</article>

        <br><br><br><br><br><br><br><br><br><br>