.header {
    background-color: #000225;
}

.header .container {
    display: flex;
    width: 100vw;
    height: 67vh;
    gap: 100px;
}


.slogan {
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    gap: 35px;
}

.contenido h2 {
    color: #ffff;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 58px;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.contenido h2 .create {
    color: #F60;
    font-family: 'Lobster', cursive;
    font-size: 48px;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.contenido p {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
}

.contenido .btn {
    padding: 10px;
    border-radius: 10px;
    background: #F60;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.p-post-inner {
    background-image: url(https://img.freepik.com/free-photo/social-media-concept-with-emojis-icons_23-2149834255.jpg?w=740&t=st=1691688094~exp=1691688694~hmac=a7c8a1202ac353d3542810e9f31bb1577a6ce4c404a086920e942a49aaee1d46);
    padding: 20px;
    height: 100vh;
    border-radius: 10px;
    padding-bottom: 20px;
}

.first {
    padding-bottom: 20px;
}